<md-dialog aria-label="New Value" style="min-width:500px">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Value</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Category">
                    <md-content class="md-padding">
                        <div layout="column" layout-align="center center">
                            <form name="catForm">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>New Category</label>
                                    <input ng-model="category.title" type="text">
                                </md-input-container>
                                <md-button class="md-raised md-primary" type="button" ng-click="addCategory(category);">
                                    Add Category
                                </md-button>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Item">
                    <md-content class="md-padding">
                        <div layout="column" layout-align="center center">
                            <form name="itemForm">
                                <md-select placeholder="Category" ng-model="category" style="min-width: 200px;">
                                    <md-option ng-value="category" ng-repeat="category in categories">{{category.title}}</md-option>
                                </md-select>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>New Item</label>
                                    <input ng-model="item.title" type="text" required ng-disabled="!categories">
                                </md-input-container>
                                <md-button class="md-raised md-primary" type="button" ng-click="addItem(category, item);">
                                    Add Item
                                </md-button>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Option">
                    <md-content class="md-padding">
                        <div layout="column" layout-align="center center">
                            <form name="optionForm">
                                <md-select placeholder="Item" ng-model="item" style="min-width: 200px;">
                                    <md-option ng-value="item" ng-repeat="item in items">{{item.title}}</md-option>
                                </md-select>
                                <md-input-container class="md-block" flex-gt-sm ng-hide="!items">
                                    <label>Title</label>
                                    <input ng-model="option.title" type="text" required>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm ng-hide="!items">
                                    <label>Price</label>
                                    <input ng-model="option.price" type="number" required>
                                </md-input-container>
                                <md-button class="md-raised md-primary" type="button" ng-click="addOption(item, option);">
                                    Add Option
                                </md-button>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>