<md-content>
    <md-button class="md-raised md-primary">Project Settings</md-button>
    <md-button class="md-raised md-primary" ng-click="dialogNewValue($event)">New Value</md-button>
    <md-button class="md-raised md-primary">Edit Value</md-button>
    <md-button class="md-raised md-warn">Delete Value</md-button>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab md-active="$index === 0" ng-repeat="category in categories" label="{{category.title}}" ng-click="getCategoryItems(category.$id)"></md-tab>
    </md-tabs>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="item in items" label="{{item.title}}" ng-click="getItemOptions(item.key)">
            <md-content>
                <div ng-repeat="option in options">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">
                                    <md-switch class="md-primary" aria-label="{{option.title}}" ng-true-value="'yes'" ng-false-value="'no'">
                                        {{option.title}}
                                    </md-switch>
                                </span>
                                <span class="md-subhead">{{option.desc}} - {{option.price}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="{{option.image}}" alt="{{option.title}}"/>
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-button class="md-raised md-warn">Delete</md-button>
                            <md-button class="md-raised md-primary">Edit</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<md-progress-circular style="margin-left:50%;" ng-show="options === 0" md-diameter="40" md-mode='indeterminate'></md-progress-circular>