<md-content>
    {{categories}}
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab ng-repeat="category in categories" label="{{category.title}}" md-on-select="getCategoryItems(category.$id)"></md-tab>
    </md-tabs>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
        <md-tab ng-repeat="item in items" label="{{item.title}}" md-on-select="getItemOptions(item.key)">
            <md-content>

            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<md-progress-circular style="margin-left:50%;" ng-show="items === 0" md-diameter="20" md-mode='indeterminate'></md-progress-circular>