<md-content>
    <md-button class="md-raised md-primary">Project Settings</md-button>
    <md-button class="md-raised md-primary">Manage categories</md-button>
    <md-button class="md-raised md-primary">Manage items</md-button>
    <md-button class="md-raised md-primary">Manage options</md-button>
    <md-tabs md-dynamic-height md-border-bottom>
        <button>Add</button>
        <md-tab ng-repeat="category in categories" label="{{category.title}}" md-on-select="getCategoryItems(category.$id)"></md-tab>
    </md-tabs>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="item in items" label="{{item.title}}" md-on-select="getItemOptions(item.key)">
            <md-content>
                <div ng-repeat="option in options">
                    {{option.title}}
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<md-progress-circular style="margin-left:50%;" ng-show="options === 0" md-diameter="40" md-mode='indeterminate'></md-progress-circular>