<md-button class="md-raised md-primary" ng-click="createProject($event)">+ New Project</md-button>
<md-content layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card ng-repeat="project in projects">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{project.pName}}</span>
            <span class="md-subhead">{{project.deadline}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="https://s-media-cache-ak0.pinimg.com/564x/cd/05/0a/cd050aa0ef2b25c93249e0a25857d222.jpg">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center">
          <md-button class="md-raised md-warn">Delete</md-button>
          <md-button class="md-raised md-primary">Share</md-button>
          <md-button class="md-raised md-primary" ng-click="editProject(project.$id);">Edit</md-button>
          <md-button class="md-raised md-primary" ng-click="viewProject(project.$id);">View</md-button>
        </md-card-actions>
      </md-card>
    </div>
</md-content>